{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="outerContainerGuide">
    <div class="innerContainerGuide">
        <div>
            <h4>Note: To toggle between the light mode and the dark mode.</h4>
            <div class="guideImage">
                <div class="image-container guideImageContainer" data-light-image="/static/images/toggleDark.svg"
                    data-dark-image="/static/images/toggleLight.svg">
                    <img id="eduImage" class="imgContainer" src="" alt="">
                </div>
            </div>
        </div>
        <div>
            <h4>STEP-1 To Add a New Item!</h4>
            <div class="guideImage">
                <div class="image-container guideImageContainer" data-light-image="/static/images/addRecord.svg"
                    data-dark-image="/static/images/eduLight.svg">
                    <img id="eduImage" class="imgContainer" src="" alt="">
                </div>
            </div>
        </div>
        <div>
            <h4>STEP-2 Say, we want to add a new skill! Therefore, click on "Skills" in Navbar!</h4>
            <div class="guideImage">

                <div class="image-container guideImageContainer" data-light-image="/static/images/addSkill.svg"
                    data-dark-image="/static/images/eduLight.svg">
                    <img id="eduImage" class="imgContainer" src="" alt="">
                </div>
            </div>
        </div>
        <div>
            <h4>STEP-3 Click on Add Skill</h4>
            <div class="guideImage">

                <div class="image-container guideImageContainer" data-light-image="/static/images/addSkillButton.svg"
                    data-dark-image="/static/images/eduLight.svg">
                    <img id="eduImage" class="imgContainer" src="" alt="">
                </div>
            </div>
        </div>
        <div>

            <h4>STEP-4 Enter the details and then submit!</h4>
            <div class="guideImage">
                <div class="image-container guideImageContainer" data-light-image="/static/images/addSkillForm.svg"
                    data-dark-image="/static/images/eduLight.svg">
                    <img id="eduImage" class="imgContainer" src="" alt="">
                </div>
            </div>
        </div>
        <div>

            <h4>STEP-5 Click on "View Portfolio" to view how your portfolio would look like.</h4>
            <div class="guideImage">
                <div class="image-container guideImageContainer"
                    data-light-image="/static/images/viewPortfolioButton.svg"
                    data-dark-image="/static/images/eduLight.svg">
                    <img id="eduImage" class="imgContainer" src="" alt="">
                </div>
            </div>
        </div>
        <div>

            <h4>STEP-6 If you wish to update your "skill" details you entered previously. Navigate to the
                "skills" tab and
                click on "update"!</h4>
            <div class="guideImage">

                <div class="image-container guideImageContainer" data-light-image="/static/images/updateSkillButton.svg"
                    data-dark-image="/static/images/eduLight.svg">
                    <img id="eduImage" class="imgContainer" src="" alt="">
                </div>
            </div>
        </div>
        <div>

            <h4>STEP-7 Swipe through the carousel to find the correct record, which you want to update
                and then click on
                "Click Here, If You Want To Update This Record!" button!</h4>
            <div class="guideImage">
                <div class="image-container guideImageContainer"
                    data-light-image="/static/images/skillUpdateFormButton.svg"
                    data-dark-image="/static/images/eduLight.svg">
                    <img id="eduImage" class="imgContainer" src="" alt="">
                </div>
            </div>
        </div>
        <div>

            <h4>STEP-8 You can edit the details as per your choice and click on "update" to update your details. Your
                changes will be reflected to your portfolio.</h4>
            <div class="guideImage">
                <div class="image-container guideImageContainer" data-light-image="/static/images/skillform.svg"
                    data-dark-image="/static/images/eduLight.svg">
                    <img id="eduImage" class="imgContainer" src="" alt="">
                </div>
            </div>
        </div>
        <div>

            <h4>STEP-9 You can view your portfolio again! The records will be updated!</h4>
            <div class="guideImage">
                <div class="image-container guideImageContainer" data-light-image="/static/images/updateDone.svg"
                    data-dark-image="/static/images/eduLight.svg">
                    <img id="eduImage" class="imgContainer" src="" alt="">
                </div>
            </div>
        </div>
        <div>

            <h4>STEP-10 Now if you wish to delete the "skill" record you entered previously.
                Navigate to the "skills" tab and
                click on "delete"!</h4>
            <div class="guideImage">

                <div class="image-container guideImageContainer" data-light-image="/static/images/deleteSkillButton.svg"
                    data-dark-image="/static/images/eduLight.svg">
                    <img id="eduImage" class="imgContainer" src="" alt="">
                </div>
            </div>
        </div>
        <div>

            <h4>STEP-11 Swipe through the carousel by clicking the left and right button, to get the record you want to delete and click "Delete" on the record you want to delete!</h4>
            <div class="guideImage">

                <div class="image-container guideImageContainer" data-light-image="/static/images/deleteForm.svg"
                    data-dark-image="/static/images/eduLight.svg">
                    <img id="eduImage" class="imgContainer" src="" alt="">
                </div>
            </div>
        </div>
        <div>

            <h4>STEP-12 After you are done entering your portfolio details, you can download all your portfolio
                by clicking the "Download
                Portfolio" button!</h4>
            <div class="guideImage">
                <div class="image-container guideImageContainer" data-light-image="/static/images/downloadPortfolio.svg"
                    data-dark-image="/static/images/eduLight.svg">
                    <img id="eduImage" class="imgContainer" src="" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}